<h2>Sign Up</h2>
<div class="row">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'small-6 small-centered large-4 large-centered columns' }) do |f| %>
    <div class="row">
      <%= f.error_notification %>
      <%= display_base_errors resource %>
      <%= f.input :name, :autofocus => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    </div>
    <div class="row">
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Sign up", :class => 'button radius left' %>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render "devise/shared/links" %>
</div>
