<h1><%= @donor.name %></h1>

<h3>Address</h3>
<p>Street: <%= @donor.street_address %></p>
<p><%= @donor.city %>, <%= @donor.state %> <%= @donor.zip_code %></p>
<%= link_to "Edit #{@donor.name}", edit_donor_path(@donor) %>
<% if current_user.has_role? :admin %>
	<%= link_to "Send invitation to donor to join", user_invitation_path(:user => {:email => @donor.email}), :method => :post, :class => "btn" if @donor.user.nil? %>
<% end %>

<h4><%= link_to "Add donation record", new_donor_donation_path(@donor) %></h4>

<ul>
	<% @donor.donations.each do |donation| %>
		<li>On <%= donation.donation_date %>, <%= @donor.name %> gave <%= number_to_currency(donation.amount) %>.<br/>Notes: <%= donation.details %><%= link_to("Delete donation", donor_donation_path(@donor, donation), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></li>
	<% end %>
</ul>