<h2>Sign in</h2>
<div class="row">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'small-6 small-centered large-4 large-centered columns' }) do |f| %>
    <div class="row">
      <%= f.input :email, :autofocus => true %>
      <%= f.input :password %>
    </div>    
    <div class="row">
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Sign in", :class => 'button radius left' %>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render "devise/shared/links" %>
</div>

