<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Son Safaris Receipts", root_path %></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li class="divider"></li>
        <li>
          <%= link_to "Add new donor", new_donor_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "View donors", donors_path %>
        </li>
        <% if current_user.has_role? :admin %>
          <li class="divider"></li>
          <li>
            <%= link_to 'Donation Totals', donation_totals_path %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Admin', users_path %>
          </li>
        <% end %>
        <li class="divider"></li>
        <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
      <% else %>
        <li class="divider"></li>
        <li>
        <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="divider"></li>
        <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li class="divider"></li>
        <li>
        <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>